@media (max-width:1156px){
  .news_and_sales{
    justify-content: space-around;
    justify-content: space-evenly;
  }
}

@media (max-width:1115px){
  .btn_price__text-top {
    font-size: 11px;
  }
}

@media (max-width:1089px){
  
  .btn_price__text-top {
    font-size: 10px;
    padding-left: 20px;
  }
  .btn-price {
    width: 125px;
  }
  .btn-price:hover {
    background-color: #00815d;
  }
  .cat {
    font-size: 20px;
  }
}

@media (max-width:895px){
  .footer__desc {
    font-size: 12px;
  }
  .footer__number {
    font-size: 12px;
  }
  .footer__address {
    font-size: 12px;
  }
  .nav__footer {
    width: auto;
    font-size: 12px;
  }
  .cat__text {
    padding: 20px 0 0 15px;
    margin: 0;
  }
  .cat {
    font-size: 18px;
  }
}

@media (max-width:830px){
  .header_description {
    font-size: 11px;
  }

  .number {
    font-size: 13px;
  }

  .feedback {
    font-size: 11px;
  }

  .header_feedback {
    justify-content: space-around;
  }
}

@media (max-width:768px) {
  .container{
    max-width: 712px;
  }

  .header_first__content{
    display: none;
  }

  .header_second{
    display: none;
  }

  .news_and_sales__block{
    width: 345px;
    height: 400px;
  }

  .sale{
    width: 345px;
  }

  .header_first__content-tablet{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
  }

  .menu-tablet{
    display: flex;
    width: 75px;
    justify-content: space-between;
    cursor: pointer;
  }

  .search-tablet {
    border: none;
    background-color: #00815d;
  }
  
  .tablet-price{
    display: flex;
    justify-content: space-between;
    width: 115px;
    cursor: pointer;
  }

  .tablet-search{
    cursor: pointer;
  }

  .banner{
    min-height: 270px;
  }

  .container-banner{
    max-width: 574px;
    margin: 0 auto;
  }

  .banner__title{
    padding-top: 20px;
    width: 150px;
  }

  .banner__title__h1{
    font-size: 45pt;
  }

  .banner__title__new{
    width: 30px;
    height: 30px;
    font-size: 8pt;
    margin-left: 15px;
  }

  .banner__desc__first{
    width: 285px;
    font-size: 14px;
    font-family: "freesetlightc", "Arial", sans-serif;
    line-height: 1.2;
  }

  .banner_sizes{
    padding-top: 10px;
  }

  .size{
    font-size: 12px;
  }

  .size:before {
    content: '';
    list-style: disc inside;
    display: list-item;
    float: left;
    width: 1px;
    padding: 0 5px 0 0;
  }

  .banner__desc__second{
    padding-top: 20px;
    width: 285px;
    font-size: 14px;
  }

  .banner__logo{
    padding-top: 20px;
    width: 280px;
  }

  .banner__img{
    width: 150px;
    margin-bottom: 20px;
  }

  

  .dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    border: 2px solid #00805c;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.2s;
  }

  .dot__active{
    background-color: #00805c;
  }

  .dots-tablet{
    display: none;
    padding-top: 15px;
    display: flex;
    justify-content: center;
  }

  .product__title{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section__products{
    height: auto;
    background: #edf2f1 !important;
    padding-bottom: 50px;
  }
  .tabs{
    display: flex;
    justify-content: center;
  }
  .tab{
    cursor: auto;
    display: flex;
    justify-content: space-between;
  }
  .arrow-prev, .arrow-next{
    cursor: pointer;
    display: inline-block;
  }

  #tab-mat, #tab-prod, #tab-tech  {
    width: 390px;
    text-align: center;
  }

  #tab-prod {
    display: none;
  }

  #tab-tech {
    display: none;
  }

  .materials, .product, .technology {
    width: 33.33%;
    height: 100px;
  }

  .cat__text {
    font-size: 20px;
    font-family: "freesetlightc", "Arial", sans-serif;
    padding: 10px 0 0 10px;
  }

  .paper {
    height: 200px;
    background-image: url(../backgrounds/marerial-paper-720.svg);
    background-position: 100% 100%;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .book {
    height: 200px;
    background-image: url(../backgrounds/material-cover-720.svg);
    background-position: 100% 100%;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .digital-print {
    height: 200px;
    background-image: url(../backgrounds/material-paints-720.svg);
    background-position: 100% 100%;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .paper:hover, .films:hover, .lacquer:hover, .book:hover, .digital-print:hover {
    background: #0091c4;
  }

  .envelopes:hover, .cover:hover, .adv:hover, .offset:hover {
    background: #e03c7c;
  }

  .cardboards:hover, .paints:hover, .cards:hover, .prod-cards:hover {
    background: #fcad4b;
  }

  .sticker:hover, .mat-cards:hover, .pack:hover, .emboss:hover {
    background: #9d080d;
  }
 
  .foil:hover, .glue:hover, .label:hover, .narrow-print:hover{
    background: #00815d;
  }

  .news_and_sales__block:nth-child(4),
  .news_and_sales__block:nth-child(5){
    display: none;
  }

  .btn__all_sales{
    margin: 0px auto 60px auto;
  }
  
  .footer__first{
    min-height: 80px;
    background-color: #00815d;
    color: #fff;
  }

  .footer__first__content{
    display: none;
  }

  .footer__first__content-tablet{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
  }

  .footer__number{
    width: auto;
    text-align: left;
    font-size: 18px;
  }

  .footer__address{
    font-family: "freesetlightc", "Arial", sans-serif;
    width: auto;
    font-size; 14px;
  }
  
  .btn-feedback-tablet{
    color: #fff;
    background-color: #00815d;
    background: url(../icons/contact_white.svg) no-repeat 10% 50%;
  }

  .btn-feedback-tablet:hover{
    background: url(../icons/contact.svg) no-repeat 10% 50%;
  }

  .btn-feedback-tablet:hover{
    color: #00815d;
    background-color: #fff;
  }

  .footer__second{
    height: 70px;
    background-color: #edf1f1;
  }

  .footer__second__content{
    display: none;
  }

  .footer__second__content-tablet{
    height: 70px;
    display: flex;
    align-items: center;
  }

  .footer__desc{
    font-family: "freesetlightc", "Arial", sans-serif;
    color: #999;
    font-size: 14px;
  }
}

@media (max-width:697px) {
  .news_and_sales__block {
    margin: 0 auto 40px auto;
  }

  .cat__text {
    font-size: 14px;
    padding: 10px 0 0 10px;
  }
}

@media (max-width:570px){
  .footer__first {
    height: 200px;
  }

  .footer__first__content-tablet{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
    height: 200px;
  }

  .footer__number {
    text-align: center;
  }

  .contacts-tablet{
    order: 2;
  }

  .soc-icon-footer-tablet{
    order: 1;
  }

  .btn-feedback-tablet{
    order: 3;
  }

  .banner__desc__first, .banner__desc__second {
    width: 210px;
  }

  .banner__desc__second, .banner__title {
    padding-top: 10px;
  }
}

@media (max-width:450px){
  .cat__text {
    font-size: 12px;
    padding: 5px 0 0 5px;
  }
}

@media (max-width:370px){
  .cat__text {
    font-size: 10px;
    padding: 5px 0 0 5px;
  }
}

@media (max-width:355px){
  .sale__desc-text{
    display: none;
  }
  .news_and_sales__block {
    height: 370px;
  }
  .sale__desc {
    padding: 0 20px;
  }
  .header__description {
    font-size: 11px;
  }
}

@media (max-width:320px){
  
  .container{
    max-width: 280px;
  }

  .container-banner{
    max-width: 280px;
    margin: 0 auto;
  }

  .product__title{
    font-size: 50pt;
    padding: 40px 0;
  }
  
  .news_and_sales__block{
    max-width: 280px;
    height: 300px;
  }

  .sale{
    max-width: 280px;
  }

  .sale-img {
    height: 178px;
  }

  .sale__desc-title{
    font-size: 16px;
    padding-bottom: 30px;
  }

  .sale__desc-text{
    display: none;
  }

  .news_and_sales__block:nth-child(3),
  .news_and_sales__block:nth-child(4),
  .news_and_sales__block:nth-child(5){
    display: none;
  }

  .header__description{
    display: none;
  }

  .tablet-price{
    display: none;
  }

  .banner{
    min-height: 115px;
  }

  .banner__desc__first, .banner_sizes,
  .banner__desc__second, .banner__logo{
    display: none;
  }

  .tabs{
    width: 100%;
  }

  .categories {
    height: auto;
  }
  
  .cat{
    border: 1px solid #c6c5c3;
    border-bottom: none;
    display: flex;
    align-items: center;
  }

  .cat__text {
    font-size: 20px;
    padding: 0 0 0 20px;
  }

  .cat:last-child{
    border-bottom: 1px solid #c6c5c3;
  }

  .materials, .product, .technology {
    max-width: 278px;
    width: 100%;
    height: auto;
    padding: 27px 20px 27px 0;
  }

  .paper, .book, .digital-print {
    background-image: none;
  }

  .paper, .films, .lacquer, .book, .digital-print{
    border-left: 3px solid #0091c4;
  }

  .envelopes, .cover, .adv, .offset{
    border-left: 3px solid #e03c7c;
  }

  .cardboards, .paints, .cards, .prod-cards{
    border-left: 3px solid #fcad4b;
  }

  .sticker, .mat-cards, .pack, .emboss{
    border-left: 3px solid #9d080d;
  }

  .foil, .glue, .label, .narrow-print {
    border-left: 3px solid #00815d;
  }

  .btn__all_sales {
    font-size: 16px;
  }
  
  .footer__first{
    height: 200px;
  }

  .footer__first__content-tablet{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
    height: 200px;
  }

  .contacts-tablet{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .footer__number {
    width: auto;
    text-align: center;
  }

  .footer__address {
    text-align: center;
    margin: 0;
  }

  .footer__desc{
    width: 290px;
    margin-right: 0;
    text-align: center;
    font-size: 12px;
  }
}

