@font-face {
  font-family: "FreeSetDemiC";
  src: url("../fonts/FreeSetDemiC.otf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "a_empirial";
  src: url("../fonts/a_empirial.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "freesetlightc";
  src: url("../fonts/freesetlightc.otf");
  font-style: normal;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  font-size: 13px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  font-family: "FreeSetDemiC", "Arial", sans-serif;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 5px;
}

.container-banner {
  width: 1180px;
  margin: 0 auto;
  padding: 0 5px;
}

.opacity {
  transition: all 0.3s; 
  opacity: 1;
}

.opacity:hover {
  opacity: 0.7;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* прибитие футера */

.wrapper {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

/* ------------- HEADER_FIRST ------------------- */

.header_first{
  background-color: #00815d;
  color: #fff;
}

.header_first__content{
  min-height: 50px;
}

.header_description{
  text-transform: uppercase;
}

.number {
  font-size: 16px;
}

.header_feedback {
  width: 261px
}

.header_socail {
  width: 180px
}

.social-icon {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  transition: 0.8s; 
}

.social-item {
  margin-left: 10px;
}

.social-item:nth-child(1) {
  margin-left: 0;
}

.fb{
  background: url(../icons/fb_white.svg) no-repeat 50%, #006e4f;
}
.fb:hover{
  background: url(../icons/fb.svg) no-repeat 50%, #fff;
}

.linkedin{
  background: url(../icons/in_white.svg) no-repeat 50%, #006e4f;
}
.linkedin:hover{
  background: url(../icons/in.svg) no-repeat 50%, #fff;
}

.vk{
  background: url(../icons/vk_white.svg) no-repeat 50%, #006e4f;
}
.vk:hover{
  background: url(../icons/vk.svg) no-repeat 50%, #fff;
}

.language{
  width: 46px;
}

.header_first__content-tablet{
  display: none;
}


/*------------ HEADER_SECOND --------------------*/

.header_second__content{
  min-height: 100px;
}

.logo__pic{
  max-width: 124px;
  max-height: 55px;
}

.nav{
  flex-wrap: wrap;
  min-height: 50px;
}

.nav__item-catalog {
  display: flex;
}

.arrow {
  align-self: center;
  margin-left: 6px;
}

.nav__item{
  padding-left: 15px;
}

.nav__item__link {
  color: #000;
  text-transform: uppercase;
  transition: all 0.1s; 
}

.nav__item__link:hover{
  color: #00815d;
}

/* открывается при наведении на "КАТАЛОГ" */

.menu{
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 130px;
  width: 550px;
  min-height: 175px;
  background-color: #fff;
  padding: 30px 30px;
  box-shadow: 0px -4px 16px -1px rgba(200,200,200,1);
  visibility: hidden;
}

.menu-left, .menu-right{
  width: 300px;
  display: flex;
  flex-direction: column;
}

.menu-nav-item{
  padding: 0px 0px 13px 0px;
}

/* ------------------------------ */

.price_and_search {
  width: 200px;
}

.search{
  min-height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #c1ded5;
  border-radius: 50px;
  cursor: pointer;
  background: url(../icons/magnifyer.svg) no-repeat 50%;
}

.search:hover{
  background: url(../icons/magnifyer_white.svg) no-repeat 50%;
  color: #fff;
  background-color: #00815d;
}

.btn{
  border: 1px solid #c1ded5;
  background-color: #fff;
  border-radius: 25px;
  padding: 13px 14px;
  cursor: pointer;
  transition: all 0.2s;
  color: #007952;
}

.btn:hover{
  color: #fff;
  background-color: #00815d;
}

.btn_price__text{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding-left: 30px;
}

.btn-price{
  background-image: url(../icons/price.svg);
  background-repeat: no-repeat;
  background-position: 10% 50% ;
}

.btn-price:hover{
  background-image: url(../icons/price_white.svg);
  background-repeat: no-repeat;
  background-position: 10% 50% ;
  color: #fff;
  background-color: #00815d;
}


/*-------------- BANNER ------------------*/
.banner-slider {
  position: relative;
}

.banner{
  background-color: #eae4e7;
  background-image: url(../img/banner.png);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 680px;
  box-shadow: inset 0px 10px 104px -8px rgba(85,85,85,0.6);
}

.banner__title{
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.banner__title__h1{
  font-family: "a_empirial";
  font-size: 145px;
  line-height: 1;
}

.banner__title__new{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ee1a26;
  width: 73px;
  height: 73px;
  margin-left: 40px;
  text-transform: uppercase;
  color: #fff;
  font-family: "freesetlightc", "Arial", sans-serif;
  border-radius: 50px;
  font-size: 18pt;
}

.banner__desc__first{
  width: 485px;
  font-size: 25px;
  font-family: "freesetlightc", "Arial", sans-serif;
  line-height: 1.2;
}

.banner_sizes{
  padding-top: 50px;
}

.size{
  font-size: 25px;
  margin-right: 50px;
}

.size:last-child{
  margin-right: 0;
}

.size:before {
  content: '';
  list-style: disc inside;
  display: list-item;
  float: left;
  width: 1px;
  padding: 0 15px 0 0;
}

.banner__desc__second{
  padding-top: 50px;
  width: 515px;
  font-size: 25px;
  font-family: "freesetlightc", "Arial", sans-serif;
  line-height: 1.2;
  font-weight: 600;
}

.banner__logo{
  padding-top: 60px;
}

.dots{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.dots-tablet{
  display: none;
}

.dot{
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 5px;
  border: 1px solid #fff;
  border-radius: 50px;
  transition: all 0.2s; 
}

.dot:hover{
  background-color: #00805c
}

.dot__active{
  background-color: #fff;
}

/*---------------- SECTION_PRODUCTS --------------------*/

.section__products{
  height: 946px;
  background: url(../img/pr1_bg.png) no-repeat 50%, #e0dede;
}

.product__title{
  font-size: 75px;
  font-family: "a_empirial";
  color: #4d4f51;
  text-align: center;
  line-height: 1;
  padding-top: 100px;
  padding-bottom: 60px;
  font-weight: normal;
  margin: 0;
}

.tabs{
  display: flex;
  padding-bottom: 30px;
}

.tab{
  font-size: 20px;
  text-transform: uppercase;
  width: 33.33%;
  text-align: center;
  background-color: #00815d;
  padding: 27px 0;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.tab-center{
  border-right: 1px solid #459f86;
  border-left: 1px solid #459f86;
}

.tab-active{
  background-color: #005a41;
}

/* FOR ADAPTIVE */

.arrow-prev{
  padding-left: 20px;
  display: none;
}

.arrow-next{
  padding-right: 20px;
  display: none;
}

/* -------------- */

.categories{
  max-width: 1182px;
}

.cat{
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #c6c5c3;
  font-size: 25px;
  font-family: "freesetlightc", "Arial", sans-serif;
  text-transform: uppercase;
  vertical-align: top;
  cursor: pointer;
  transition: background-color 0.6s;
  float: left;
}

.materials{
  width: 25%;
  height: 168px;
}

.product, .technology{
  width: 33.33%;
  height: 265px;
}

.cat__text{
  padding: 20px 0 0 25px;
  margin: 0;
}

.cat:hover{
  color: #fff;
  border: none;
  box-shadow: 0px 0px 40px 15px rgba(0,0,0,0.2);
}

.paper {
  height: 336px;
}

.book, .digital-print {
  height: 530px;
}

.paper:hover{
  background: url(../backgrounds/material-paper.svg) no-repeat bottom, #0091c4;
}
.envelopes:hover{
  background: url(../backgrounds/material-envelopes.svg) no-repeat right bottom, #e03c7c;
}
.cardboards:hover{
  background: url(../backgrounds/material-cardboards.svg) no-repeat right bottom, #fcad4b;
}
.sticker:hover{
  background: url(../backgrounds/material-sticker.svg) no-repeat right bottom, #9d080d;
}
.cover:hover{
  background: url(../backgrounds/material-cover.svg) no-repeat right bottom, #e03c7c;
}
.films:hover{
  background: url(../backgrounds/material-films.svg) no-repeat right bottom, #0091c4;
}
.foil:hover{
  background: url(../backgrounds/material-foil.svg) no-repeat right bottom, #00815d;
}
.glue:hover{
  background: url(../backgrounds/material-glue.svg) no-repeat right bottom, #00815d;
}
.lacquer:hover{
  background: url(../backgrounds/material-lacquer.svg) no-repeat right bottom, #0091c4;
}
.paints:hover{
  background: url(../backgrounds/material-paints.svg) no-repeat right bottom, #fcad4b;
}
.mat-cards:hover{
  background: url(../backgrounds/material-cards.svg) no-repeat right bottom, #9d080d;
}
.book:hover{
  background: url(../backgrounds/final-book.svg) no-repeat right bottom, #0091c4;
}
.adv:hover{
  background: url(../backgrounds/final-adv.svg) no-repeat right bottom, #e03c7c;
}
.label:hover{
  background: url(../backgrounds/final-label.svg) no-repeat right bottom, #00815d;
}
.pack:hover{
  background: url(../backgrounds/final-pack.svg) no-repeat right bottom, #9d080d;
}
.cards:hover{
  background: url(../backgrounds/tech-cards.svg) no-repeat right bottom, #fcad4b;
}
.prod-cards:hover{
  background: url(../backgrounds/tech-cards.svg) no-repeat right bottom, #fcad4b;
}
.digital-print:hover{
  background: url(../backgrounds/tech-digital-print.svg) no-repeat right bottom, #0091c4;
}
.emboss:hover{
  background: url(../backgrounds/tech-emboss.svg) no-repeat right bottom, #9d080d;
}
.offset:hover{
  background: url(../backgrounds/tech-offset.svg) no-repeat right bottom, #e03c7c;
}
.narrow-print:hover{
  background: url(../backgrounds/tech-narrow-print.svg) no-repeat right bottom, #00815d;
}

#final_product, #technology{
  display: none;
}

/* --------- section__news_and_sales ------------------- */

.news_and_sales{
  flex-wrap: wrap;
}

.news_and_sales__block{
  width: 380px;
  height: 420px;
  margin-bottom: 40px;
  background-color: #eee;
  color: #fff;
  cursor: pointer;
}

.sale__desc-sale{
  background-color: #e03c7c;
  transition: all 0.4s; 
}

.sale__desc-sale:hover{
  background-color: #9a1f4e;
}

.sale__desc-new{
  background-color: #0091c4;
  transition: all 0.4s; 
}

.sale__desc-new:hover{
  background-color: #00749d;
}

.sale-img {
  width: 100%;
  height: 240px;
}

.sale__desc{
  padding-left: 20px;
}

.sale__desc-title{
  padding-top: 15px;
  font-size: 18px;
}

.sale__desc-text{
  padding-top: 15px;
  font-size: 15px;
  font-family: "freesetlightc", "Arial", sans-serif;
}

/* ФЛАГИ АКЦИЙ И НОВИНОК */

.flag{
  padding-top: 20px;
  height: 46px;
  overflow: hidden;
  position: absolute;
}

.flag-sale{
  width: 82px;
}

.flag-new{
  width: 103px;
}

.f-sale{
  background:#e03b7c;
}

.f-new{
  background:#0091c4;
}

.f-left, .f-right{ 
  min-height: 100%; 
  width: 80%;
} 

.f-left{ 
  float: left; 
  transform: skew(45deg);
} /* задаём скос и наложение друг на друга путём float. */ 

.f-right{ 
  transform: skew(-45deg);
} /* задаём скос дива */ 

.font{
  font-size: 13px;
  font-family: "FreeSetDemiC", "Arial", sans-serif;
  left: 10px;
  position: absolute;
  top: 24px;
  z-index: 100;
  text-transform: uppercase;
  font-weight: 500;
}

/* ------------------- */

.btn__all_sales{
  display: flex;
  margin: 20px auto 80px auto;
  padding: 13px 25px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #0b8953;
  transition: all 0.2s;
  text-transform: uppercase;
  font-family: 'FreeSetDemiC', "Arial", sans-serif;
}

.btn__all_sales:hover{
  background-color: #005a41;
}

/*---------- FOOTER -------------------*/

.footer__first{
  background-color: #edf1f1;
  min-height: 100px;
}

.footer__first__content{
  min-height: 100px;
}

.footer__first__content-tablet{
  display: none;
}

.logo_footer {
  margin-right: 20px;
}

.nav__footer{
  margin-right: auto;
  width: 500px;
}

.nav__item-footer {
  color: #000;
  text-transform: uppercase;
  transition: all 0.1s; 
}

.btn-feedback{
  background-color: #edf1f1;
  border-color: #9ac7ba;
  background-image: url(../icons/contact.svg);
  background-repeat: no-repeat;
  background-position: 10% 50%;
}

.btn-feedback:hover{
  background-image: url(../icons/contact_white.svg);
  background-repeat: no-repeat;
  background-position: 10% 50%;
  color: #fff;
  background-color: #00815d;
}

.footer__second{
  background-color: #00815d;
}

.footer__second__content{
  min-height: 100px;
  color: #fff;
  font-family: "freesetlightc", "Arial", sans-serif;
}

.footer__second__content-tablet{
  display: none;
}

.footer__desc{
  font-size: 14px;
}

.footer__number{
  font-size: 18px;
  font-family: "FreeSetDemiC", "Arial", sans-serif;
}

