@charset "UTF-8";
/* ------------------- ╨и╤А╨╕╤Д╤В╤Л ----------------- */
@font-face {
  font-family: "FreeSetDemiC";
  src: url("../fonts/FreeSetDemiC.otf");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "a_empirial";
  src: url("../fonts/a_empirial.ttf");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "freesetlightc";
  src: url("../fonts/freesetlightc.otf");
  font-style: normal;
  font-weight: normal; }
/* ------------------- ╨Ю╨▒╤Й╨╕╨╡ ╤Б╤В╨╕╨╗╨╕ ----------------- */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  font-family: "FreeSetDemiC", "Arial", sans-serif; }

li {
  list-style: none;
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #fff; }

/* ------------------- ╨Ъ╨╗╨░╤Б╤Б╤Л ╨┐╨╛╨╝╨╛╤Й╨╜╨╕╨║╨╕ ----------------- */
.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 5px; }

@media (max-width: 768px) {
  .container {
    max-width: 712px; } }
@media (max-width: 320px) {
  .container {
    max-width: 280px; } }
.opacity {
  transition: all 0.3s;
  opacity: 1; }

.opacity:hover, .opacity:focus {
  opacity: 0.7; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

/* ------------------- ╨Я╤А╨╕╨▒╨╕╤В╨╕╨╡ ╤Д╤Г╤В╨╡╤А╨░ ----------------- */
.wrapper {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh; }

.content {
  flex: 1 0 auto; }

.footer {
  flex-shrink: 0; }

.header-first {
  background-color: #00815d;
  color: #fff; }

.header-first__content {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header-first__content--tablet {
  display: none; }

.header-first__description {
  text-transform: uppercase; }

@media (max-width: 830px) {
  .header-first__description {
    font-size: 11px; } }
@media (max-width: 768px) {
  .header-first__content {
    display: none; }

  .header-first__content--tablet {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between; } }
.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.social-links--footer {
  display: flex;
  align-items: center;
  justify-content: space-between; }

@media (max-width: 570px) {
  .social-links--footer {
    order: 1; } }
.social-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px; }
  .social-item:nth-child(1) {
    margin-left: 0; }

.social-item a {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  transition: 0.2s; }

.fb {
  background: url(../icons/fb_white.svg) no-repeat 50%, #006e4f; }

.fb:hover, .fb:focus {
  background: url(../icons/fb.svg) no-repeat 50%, #fff; }

.linkedin {
  background: url(../icons/in_white.svg) no-repeat 50%, #006e4f; }

.linkedin:hover, .linkedin:focus {
  background: url(../icons/in.svg) no-repeat 50%, #fff; }

.vk {
  background: url(../icons/vk_white.svg) no-repeat 50%, #006e4f; }

.vk:hover, .vk:focus {
  background: url(../icons/vk.svg) no-repeat 50%, #fff; }

.language {
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.phone-number {
  font-size: 16px;
  font-family: "FreeSetDemiC", "Arial", sans-serif; }

@media (max-width: 895px) {
  .phone-number--footer {
    font-size: 12px; } }
@media (max-width: 830px) {
  .phone-number {
    font-size: 13px; } }
@media (max-width: 768px) {
  .phone-number {
    width: auto;
    text-align: left;
    font-size: 18px; } }
@media (max-width: 570px) {
  .phone-number {
    text-align: center; } }
@media (max-width: 830px) {
  .feedback {
    font-size: 11px; } }
.header-second__content {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

@media (max-width: 768px) {
  .header-second {
    display: none; } }
.logo__pic {
  max-width: 124px;
  max-height: 55px; }

.nav {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap; }

.nav--footer {
  margin-right: auto; }

.nav__item {
  padding-left: 15px; }

.nav__item--footer {
  padding-left: 35px; }
  .nav__item--footer:first-child {
    padding-left: 20px; }

@media (max-width: 900px) {
  .nav__item--footer {
    padding-left: 15px; }
    .nav__item--footer:first-child {
      padding-left: 15px; } }
.nav__item-link {
  color: #000;
  text-transform: uppercase;
  transition: all 0.1s; }

.nav__item-link:focus {
  color: #00815d; }

.nav__item-link:hover {
  color: #00815d; }

.nav__item-link-arrow {
  margin-left: 5px;
  margin-bottom: 1px; }

.search__wrap {
  margin-right: 10px;
  margin-left: auto; }

.search {
  min-height: 40px;
  width: 40px;
  border: 1px solid #c1ded5;
  border-radius: 50px;
  cursor: pointer;
  background: url(../icons/magnifyer.svg) no-repeat 50%; }

.search:hover, .search:focus {
  background: url(../icons/magnifyer_white.svg) no-repeat 50%;
  color: #fff;
  background-color: #00815d; }

@media (max-width: 768px) {
  .search--tablet {
    border: none;
    background-color: #00815d;
    cursor: pointer; } }
.btn {
  border: 1px solid #c1ded5;
  border-radius: 25px;
  padding: 13px 14px 13px 44px;
  cursor: pointer;
  transition: all 0.2s;
  color: #007952;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold; }
  .btn:hover {
    color: #fff;
    background-color: #00815d; }

.btn--price {
  background-image: url(../icons/price.svg);
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-color: #fff; }
  .btn--price:hover, .btn--price:focus {
    background-image: url(../icons/price_white.svg);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    color: #fff;
    background-color: #00815d; }

.btn--tablet-price {
  color: #fff;
  background-image: url(../icons/price_white.svg);
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-color: #00815d;
  border: none;
  display: flex;
  justify-content: space-between; }

.btn--feedback {
  min-width: 184px;
  background-color: #edf1f1;
  border-color: #9ac7ba;
  background-image: url(../icons/contact.svg);
  background-repeat: no-repeat;
  background-position: 10% 50%; }
  .btn--feedback:hover, .btn--feedback:focus {
    background-image: url(../icons/contact_white.svg);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    color: #fff;
    background-color: #00815d; }

.btn--all-sales {
  display: flex;
  margin: 20px auto 80px auto;
  padding: 13px 25px;
  color: #fff;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: #0b8953;
  transition: all 0.2s;
  text-transform: uppercase;
  font-family: 'FreeSetDemiC', "Arial", sans-serif;
  letter-spacing: 0.26px; }
  .btn--all-sales:hover, .btn--all-sales:focus {
    background-color: #005a41; }

@media (max-width: 1135px) {
  .btn--price {
    min-width: 136px;
    font-size: 11px;
    padding-left: 24px;
    padding-right: 0px; } }
@media (max-width: 768px) {
  .btn--all-sales {
    margin: 0px auto 60px auto; }

  .btn--feedback-tablet {
    color: #fff;
    background-color: #00815d;
    background: url(../icons/contact_white.svg) no-repeat 10% 50%; }

  .btn--feedback-tablet:hover {
    background: url(../icons/contact.svg) no-repeat 10% 50%;
    color: #00815d;
    background-color: #fff; } }
@media (max-width: 570px) {
  .btn--feedback-tablet {
    order: 3; } }
@media (max-width: 320px) {
  .btn--tablet-price {
    display: none; }

  .btn--all-sales {
    font-size: 16px;
    min-width: 270px;
    text-align: center;
    display: block; }

  .btn--feedback-tablet {
    background-image: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 16px 60px;
    font-size: 14px; }
    .btn--feedback-tablet:hover {
      background-image: none; } }
.banner {
  background-color: #eae4e7;
  background-image: url(../img/banner.png);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 680px;
  box-shadow: inset 0px 10px 104px -8px rgba(85, 85, 85, 0.6); }

.banner__container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 5px; }

.banner__title {
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.banner__title-h1 {
  font-family: "a_empirial";
  font-size: 145px;
  line-height: 1; }

.banner__title-new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  background-color: #ee1a26;
  width: 73px;
  height: 73px;
  margin-left: 40px;
  text-transform: uppercase;
  color: #fff;
  font-family: "freesetlightc", "Arial", sans-serif;
  border-radius: 50px;
  font-size: 18pt; }

.banner__desc-first {
  width: 485px;
  font-size: 25px;
  font-family: "freesetlightc", "Arial", sans-serif;
  line-height: 1.2; }

.banner__sizes-list {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.banner__size {
  font-size: 25px;
  margin-right: 50px; }
  .banner__size:last-child {
    margin-right: 0; }
  .banner__size::before {
    content: '';
    list-style: disc inside;
    display: list-item;
    float: left;
    width: 1px;
    padding: 4px 15px 0 0; }

.banner__desc-second {
  padding-top: 50px;
  width: 515px;
  font-size: 25px;
  font-family: "freesetlightc", "Arial", sans-serif;
  line-height: 1.2;
  font-weight: 600; }

.banner__logo {
  padding-top: 60px; }

@media (max-width: 1025px) {
  .banner {
    background-position: 38% 50%; } }
@media (max-width: 768px) {
  .banner {
    min-height: 270px; }

  .banner__container {
    max-width: 574px;
    margin: 0 auto;
    padding: 0 10px; }

  .banner__title {
    padding-top: 20px;
    width: 150px; }

  .banner__title-h1 {
    font-size: 45pt; }

  .banner__title-new {
    width: 30px;
    height: 30px;
    font-size: 8pt;
    margin-left: 15px; }

  .banner__desc-first {
    width: 285px;
    font-size: 14px;
    font-family: "freesetlightc", "Arial", sans-serif;
    line-height: 1.2; }

  .banner__sizes-list {
    padding-top: 10px; }

  .banner__size {
    font-size: 12px; }
    .banner__size::before {
      content: '';
      list-style: disc inside;
      display: list-item;
      float: left;
      width: 1px;
      padding: 0 5px 0 0; }

  .banner__desc-second {
    padding-top: 20px;
    width: 285px;
    font-size: 14px; }

  .banner__logo {
    padding-top: 20px;
    width: 280px; }

  .banner__img {
    width: 150px;
    margin-bottom: 20px; } }
@media (max-width: 570px) {
  .banner__desc-first, .banner__desc-second {
    width: 210px; }

  .banner__desc-second, .banner__title {
    padding-top: 10px; } }
@media (max-width: 320px) {
  .banner__container {
    max-width: 280px;
    margin: 0 auto; }

  .banner {
    min-height: 115px; }

  .banner__desc-first,
  .banner__sizes-list,
  .banner__desc-second,
  .banner__logo {
    display: none; } }
.products {
  height: 946px;
  background: url(../img/pr1_bg.png) no-repeat 50%, #e0dede; }

.products__title {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 60px;
  font-size: 75px;
  font-family: "a_empirial";
  font-weight: normal;
  color: #4d4f51;
  text-align: center;
  line-height: 1; }

.products__tabs {
  display: flex;
  padding-bottom: 30px; }

.products__tab {
  font-size: 20px;
  text-transform: uppercase;
  width: 33.33%;
  text-align: center;
  background-color: #00815d;
  padding: 27px 0;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s; }
  .products__tab--center {
    border-right: 1px solid #459f86;
    border-left: 1px solid #459f86; }
  .products__tab--active {
    background-color: #005a41; }

.products__tab-arrow-prev {
  padding-left: 20px;
  display: none; }

.products__tab-arrow-next {
  padding-right: 20px;
  display: none; }

@media (max-width: 768px) {
  .products {
    background-color: #edf2f1;
    background-image: none;
    padding-bottom: 50px;
    height: auto; }

  .products__title {
    padding-top: 50px;
    padding-bottom: 50px; }

  .products__tabs {
    display: flex;
    justify-content: center; }

  .products__tab {
    cursor: auto;
    display: flex;
    justify-content: space-between;
    width: 390px;
    text-align: center; }

  .products__tab-arrow-prev, .products__tab-arrow-next {
    cursor: pointer;
    display: inline-block; }

  .products__tab--prod, .products__tab--tech {
    display: none; } }
@media (max-width: 320px) {
  .products__title {
    font-size: 50pt;
    padding: 40px 0; } }
.categories {
  max-width: 1182px; }
  .categories::after, .categories::before {
    content: "";
    display: table; }
  .categories::after {
    clear: both; }

.categories--final_product, .categories--technology {
  display: none; }

.categories__cat {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #c6c5c3;
  font-size: 25px;
  font-family: "freesetlightc", "Arial", sans-serif;
  text-transform: uppercase;
  vertical-align: top;
  cursor: pointer;
  transition: background-color 0.6s;
  float: left; }
  .categories__cat:hover {
    color: #fff;
    border: none;
    box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.2); }

.categories__materials {
  width: 25%;
  height: 168px; }
  .categories__materials--paper {
    height: 336px; }
  .categories__materials--paper:hover {
    background: url(../backgrounds/material-paper.svg) no-repeat bottom, #0091c4; }
  .categories__materials--envelopes:hover {
    background: url(../backgrounds/material-envelopes.svg) no-repeat right bottom, #e03c7c; }
  .categories__materials--cardboards:hover {
    background: url(../backgrounds/material-cardboards.svg) no-repeat right bottom, #fcad4b; }
  .categories__materials--sticker:hover {
    background: url(../backgrounds/material-sticker.svg) no-repeat right bottom, #9d080d; }
  .categories__materials--cover:hover {
    background: url(../backgrounds/material-cover.svg) no-repeat right bottom, #e03c7c; }
  .categories__materials--films:hover {
    background: url(../backgrounds/material-films.svg) no-repeat right bottom, #0091c4; }
  .categories__materials--foil:hover {
    background: url(../backgrounds/material-foil.svg) no-repeat right bottom, #00815d; }
  .categories__materials--glue:hover {
    background: url(../backgrounds/material-glue.svg) no-repeat right bottom, #00815d; }
  .categories__materials--lacquer:hover {
    background: url(../backgrounds/material-lacquer.svg) no-repeat right bottom, #0091c4; }
  .categories__materials--paints:hover {
    background: url(../backgrounds/material-paints.svg) no-repeat right bottom, #fcad4b; }
  .categories__materials--mat-cards:hover {
    background: url(../backgrounds/material-cards.svg) no-repeat right bottom, #9d080d; }

.categories__product {
  width: 33.33%;
  height: 265px; }
  .categories__product--book {
    height: 530px; }
  .categories__product--book:hover {
    background: url(../backgrounds/final-book.svg) no-repeat right bottom, #0091c4; }
  .categories__product--adv:hover {
    background: url(../backgrounds/final-adv.svg) no-repeat right bottom, #e03c7c; }
  .categories__product--label:hover {
    background: url(../backgrounds/final-label.svg) no-repeat right bottom, #00815d; }
  .categories__product--pack:hover {
    background: url(../backgrounds/final-pack.svg) no-repeat right bottom, #9d080d; }
  .categories__product--cards:hover {
    background: url(../backgrounds/tech-cards.svg) no-repeat right bottom, #fcad4b; }

.categories__technology {
  width: 33.33%;
  height: 265px; }
  .categories__technology--digital-print {
    height: 530px; }
  .categories__technology--prod-cards:hover {
    background: url(../backgrounds/tech-cards.svg) no-repeat right bottom, #fcad4b; }
  .categories__technology--digital-print:hover {
    background: url(../backgrounds/tech-digital-print.svg) no-repeat right bottom, #0091c4; }
  .categories__technology--emboss:hover {
    background: url(../backgrounds/tech-emboss.svg) no-repeat right bottom, #9d080d; }
  .categories__technology--offset:hover {
    background: url(../backgrounds/tech-offset.svg) no-repeat right bottom, #e03c7c; }
  .categories__technology--narrow-print:hover {
    background: url(../backgrounds/tech-narrow-print.svg) no-repeat right bottom, #00815d; }

.categories__text {
  padding: 20px 0 0 25px;
  margin: 0; }

@media (max-width: 1082px) {
  .categories__cat {
    font-size: 20px; } }
@media (max-width: 895px) {
  .categories__text {
    padding: 20px 0 0 15px; }

  .categories__cat {
    font-size: 18px; } }
@media (max-width: 768px) {
  .categories__materials {
    width: 33.33%;
    height: 100px; }
    .categories__materials--paper {
      height: 200px;
      background-image: url(../backgrounds/marerial-paper-720.svg);
      background-position: 100% 100%;
      background-size: auto;
      background-repeat: no-repeat; }
    .categories__materials--paper:hover {
      background: #0091c4; }
    .categories__materials--envelopes:hover {
      background: #e03c7c; }
    .categories__materials--cardboards:hover {
      background: #fcad4b; }
    .categories__materials--sticker:hover {
      background: #9d080d; }
    .categories__materials--cover:hover {
      background: #e03c7c; }
    .categories__materials--films:hover {
      background: #0091c4; }
    .categories__materials--foil:hover {
      background: #00815d; }
    .categories__materials--glue:hover {
      background: #00815d; }
    .categories__materials--lacquer:hover {
      background: #0091c4; }
    .categories__materials--paints:hover {
      background: #fcad4b; }
    .categories__materials--mat-cards:hover {
      background: #9d080d; }

  .categories__product {
    width: 33.33%;
    height: 100px; }
    .categories__product--book {
      height: 200px;
      background-image: url(../backgrounds/material-cover-720.svg);
      background-position: 100% 100%;
      background-size: auto;
      background-repeat: no-repeat; }
    .categories__product--book:hover {
      background: #0091c4; }
    .categories__product--adv:hover {
      background: #e03c7c; }
    .categories__product--label:hover {
      background: #00815d; }
    .categories__product--pack:hover {
      background: #9d080d; }
    .categories__product--cards:hover {
      background: #fcad4b; }

  .categories__technology {
    width: 33.33%;
    height: 100px; }
    .categories__technology--digital-print {
      height: 200px;
      background-image: url(../backgrounds/material-paints-720.svg);
      background-position: 100% 100%;
      background-size: auto;
      background-repeat: no-repeat; }
    .categories__technology--prod-cards:hover {
      background: #fcad4b; }
    .categories__technology--digital-print:hover {
      background: #0091c4; }
    .categories__technology--emboss:hover {
      background: #9d080d; }
    .categories__technology--offset:hover {
      background: #e03c7c; }
    .categories__technology--narrow-print:hover {
      background: #00815d; }

  .categories__text {
    padding: 10px 0 0 10px; } }
@media (max-width: 697px) {
  .categories__text {
    font-size: 14px; } }
@media (max-width: 450px) {
  .categories__text {
    font-size: 12px;
    padding: 5px 0 0 5px; } }
@media (max-width: 370px) {
  .categories__text {
    font-size: 10px;
    padding: 5px 0 0 5px; } }
@media (max-width: 320px) {
  .categories {
    height: auto; }

  .categories__cat {
    border: 1px solid #c6c5c3;
    border-bottom: none;
    display: flex;
    align-items: center; }
    .categories__cat:last-child {
      border-bottom: 1px solid #c6c5c3; }

  .categories__text {
    font-size: 20px;
    padding: 0 0 0 20px; }

  .categories__materials, .categories__product, .categories__technology {
    max-width: 278px;
    width: 100%;
    height: auto;
    padding: 27px 20px 27px 0; }

  .categories__materials--paper,
  .categories__product--book,
  .digital-print {
    background-image: none; }

  .categories__materials--paper,
  .categories__materials--films,
  .categories__materials--lacquer,
  .categories__product--book,
  .digital-print {
    border-left: 3px solid #0091c4; }

  .categories__materials--envelopes, .categories__materials--cover, .adv, .offset {
    border-left: 3px solid #e03c7c; }

  .categories__materials--cardboards, .categories__materials--paints, .categories__materials--mat-cards, .prod-cards {
    border-left: 3px solid #fcad4b; }

  .categories__materials--sticker, .mat-cards, .pack, .emboss {
    border-left: 3px solid #9d080d; }

  .categories__materials--foil, .categories__materials--glue, .label, .narrow-print {
    border-left: 3px solid #00815d; } }
.news-and-sales__content {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.news-and-sales__title {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 60px;
  font-size: 75px;
  font-family: "a_empirial";
  font-weight: normal;
  color: #4d4f51;
  text-align: center;
  line-height: 1; }

.news-and-sales__block {
  width: 380px;
  height: 420px;
  margin-bottom: 40px;
  background-color: #eee;
  color: #fff;
  cursor: pointer; }
  .news-and-sales__block--sale {
    background-color: #e03c7c;
    transition: all 0.4s; }
    .news-and-sales__block--sale:hover {
      background-color: #9a1f4e; }
  .news-and-sales__block--new {
    background-color: #0091c4;
    transition: all 0.4s; }
    .news-and-sales__block--new:hover {
      background-color: #00749d; }

.news-and-sales__img {
  width: 100%;
  height: 240px; }

.news-and-sales__description {
  padding: 0 20px; }

.news-and-sales__description-title {
  margin: 0;
  padding-top: 15px;
  font-size: 18px; }

.news-and-sales__description-text {
  padding-top: 15px;
  font-size: 15px;
  font-family: "freesetlightc", "Arial", sans-serif; }

.news-and-sales__flag {
  padding-top: 20px;
  height: 46px;
  overflow: hidden;
  position: absolute; }
  .news-and-sales__flag--sale {
    min-width: 82px; }
    .news-and-sales__flag--sale::after {
      content: "";
      min-height: 100%;
      width: 80%;
      float: left;
      transform: skew(-45deg);
      background: #e03b7c; }
    .news-and-sales__flag--sale::before {
      content: "";
      min-height: 100%;
      width: 80%;
      float: left;
      transform: skew(45deg);
      background: #e03b7c; }
  .news-and-sales__flag--new {
    min-width: 103px; }
    .news-and-sales__flag--new::before {
      content: "";
      min-height: 100%;
      width: 80%;
      float: left;
      transform: skew(45deg);
      background: #0091c4; }
    .news-and-sales__flag--new::after {
      content: "";
      min-height: 100%;
      width: 80%;
      float: left;
      transform: skew(-45deg);
      background: #0091c4; }

.news-and-sales__flag-name {
  font-size: 13px;
  font-family: "FreeSetDemiC", "Arial", sans-serif;
  left: 10px;
  position: absolute;
  top: 24px;
  z-index: 100;
  text-transform: uppercase;
  font-weight: 500; }

@media (max-width: 1156px) {
  .news-and-sales__content {
    justify-content: space-around;
    justify-content: space-evenly; } }
@media (max-width: 768px) {
  .news-and-sales__block {
    width: 345px;
    height: 400px; }
    .news-and-sales__block:nth-child(4) {
      display: none; }
    .news-and-sales__block:nth-child(5) {
      display: none; }

  .news-and-sales__description-title {
    padding-top: 0; } }
@media (max-width: 355px) {
  .news-and-sales__description-text {
    display: none; }

  .news-and-sales__block {
    height: 370px; }

  .news-and-sales__description {
    padding: 0 20px; }

  .news-and-sales__description-title {
    padding-top: 15px; } }
@media (max-width: 320px) {
  .news-and-sales__block {
    max-width: 280px;
    height: 300px; }

  .news-and-sales__img {
    height: 178px; }

  .news-and-sales__description-title {
    font-size: 16px;
    padding-bottom: 30px; }

  .news-and-sales__block:nth-child(3) {
    display: none; }

  .news-and-sales__title {
    font-size: 50pt;
    padding: 40px 0; } }
.footer-first {
  background-color: #edf1f1;
  min-height: 100px; }

.footer-first__content {
  min-height: 100px; }

.footer-first__content-tablet {
  display: none; }

@media (max-width: 768px) {
  .footer-first {
    min-height: 80px;
    background-color: #00815d;
    color: #fff; }

  .footer-first__content {
    display: none; }

  .footer-first__content-tablet {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap; } }
@media (max-width: 570px) {
  .footer-first {
    min-height: 200px; }

  .footer-first__content-tablet {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
    height: 200px; }

  .footer-first__contacts-tablet {
    order: 2;
    text-align: center; } }
.footer-second {
  background-color: #00815d; }

.footer-second__content {
  min-height: 100px;
  color: #fff;
  font-family: "freesetlightc", "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer-second__content-tablet {
  display: none; }

.footer-second__description {
  font-size: 14px; }

@media (max-width: 895px) {
  .footer-second__description, .footer-second__address {
    font-size: 12px; } }
@media (max-width: 768px) {
  .footer-second {
    height: 70px;
    background-color: #edf1f1; }

  .footer-second__content {
    display: none; }

  .footer-second__content-tablet {
    height: 70px;
    display: flex;
    align-items: center; }

  .footer-second__description {
    font-family: "freesetlightc", "Arial", sans-serif;
    color: #999;
    font-size: 14px; }

  .footer-second__address {
    font-family: "freesetlightc", "Arial", sans-serif;
    width: auto;
    font-size: 12px;
    font-weight: 400; } }
@media (max-width: 320px) {
  .footer-second__description {
    width: 260px;
    min-height: 28px;
    font-size: 12px;
    text-align: center; } }
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); }
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: 'тЖР'; }

[dir='rtl'] .slick-prev:before {
  content: 'тЖТ'; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: 'тЖТ'; }

[dir='rtl'] .slick-next:before {
  content: 'тЖР'; }

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  right: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.slick-dots li {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 5px;
  border: 1px solid #fff;
  border-radius: 50px;
  transition: all 0.2s; }

.slick-dots li:hover {
  background-color: #00805c; }

.slick-dots li:active {
  background-color: #fff; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

.slick-active {
  background-color: #fff; }

@media (max-width: 768px) {
  .slick-dots {
    position: absolute;
    bottom: -40px; }

  .slick-dots li {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    border: 2px solid #00805c;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.2s; } }
/* -------------------- SLICK-THEME ------------------------------ */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@media (max-width: 768px) {
  .menu-tablet {
    display: flex;
    width: 75px;
    justify-content: space-between;
    cursor: pointer; } }

/*# sourceMappingURL=style.css.map */
