.banner {
  background-color: #eae4e7;
  background-image: url(../../src/img/banner.png);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 680px;
  box-shadow: inset 0px 10px 104px -8px rgba(85, 85, 85, 0.6);
}

.banner__container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 5px;
}

.banner__title {
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.banner__title-h1 {
  font-family: "a_empirial";
  font-size: 145px;
  line-height: 1;
}

.banner__title-new {
  @include flex-center;
  justify-content: center;
  background-color: #ee1a26;
  width: 73px;
  height: 73px;
  margin-left: 40px;
  text-transform: uppercase;
  color: #fff;
  font-family: "freesetlightc", "Arial", sans-serif;
  border-radius: 50px;
  font-size: 18pt;
}

.banner__desc-first {
  width: 485px;
  font-size: 25px;
  font-family: "freesetlightc", "Arial", sans-serif;
  line-height: 1.2;
}

.banner__sizes-list {
  padding-top: 50px;
  @include flex-start;
}

.banner__size {
  font-size: 25px;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: '';
    list-style: disc inside;
    display: list-item;
    float: left;
    width: 1px;
    padding: 4px 15px 0 0;
  }
}

.banner__desc-second {
  padding-top: 50px;
  width: 515px;
  font-size: 25px;
  font-family: "freesetlightc", "Arial", sans-serif;
  line-height: 1.2;
  font-weight: 600;
}

.banner__logo {
  padding-top: 60px;
}

@media (max-width: 1025px) {
  .banner {
    background-position: 38% 50%;
  }
}

@media (max-width: 768px) {
  .banner {
    min-height: 270px;
  }

  .banner__container {
    max-width: 574px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .banner__title {
    padding-top: 20px;
    width: 150px;
  }

  .banner__title-h1 {
    font-size: 45pt;
  }

  .banner__title-new {
    width: 30px;
    height: 30px;
    font-size: 8pt;
    margin-left: 15px;
  }

  .banner__desc-first {
    width: 285px;
    font-size: 14px;
    font-family: "freesetlightc", "Arial", sans-serif;
    line-height: 1.2;
  }

  .banner__sizes-list {
    padding-top: 10px;
  }

  .banner__size {
    font-size: 12px;

    &::before {
      content: '';
      list-style: disc inside;
      display: list-item;
      float: left;
      width: 1px;
      padding: 0 5px 0 0;
    }
  }

  .banner__desc-second {
    padding-top: 20px;
    width: 285px;
    font-size: 14px;
  }

  .banner__logo {
    padding-top: 20px;
    width: 280px;
  }

  .banner__img {
    width: 150px;
    margin-bottom: 20px;
  }
}

@media (max-width: 570px) {
  .banner__desc-first,
  .banner__desc-second {
    width: 210px;
  }

  .banner__desc-second,
  .banner__title {
    padding-top: 10px;
  }
}

@media (max-width: 320px) {
  .banner__container {
    max-width: 280px;
    margin: 0 auto;
  }

  .banner {
    min-height: 115px;
  }

  .banner__desc-first,
  .banner__sizes-list,
  .banner__desc-second,
  .banner__logo {
    display: none;
  }
}