.search__wrap {
  margin-right: 10px;
  margin-left: auto;
}

.search {
  min-height: 40px;
  width: 40px;
  border: 1px solid #c1ded5;
  border-radius: 50px;
  cursor: pointer;
  background: url(../../src/icons/magnifyer.svg) no-repeat 50%;
}

.search:hover,
.search:focus {
  background: url(../../src/icons/magnifyer_white.svg) no-repeat 50%;
  color: #fff;
  background-color: #00815d;
}

@media (max-width: 768px) {
  .search--tablet {
    border: none;
    background-color: #00815d;
    cursor: pointer;
  }
}